{% extends "base_bootstrap.html" %}
{% load static %} 
{% block content %}

{% load static %} 
<section id = 'projects'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="font-weight-normal">My Projects</h1>
      </div>
    </div>

    <div class="row" id="project-wrapper">
      <a href="http://664teamhw.pythonanywhere.com/">
        <div class="media">
          <img class="mr-3" src="{% static 'imgs/evergreen_sq.jpg' %}" alt="evergreen">
          <div class="media-body">
            <h5 class="mt-0">Evergreen restaurant demo (ft. Xin Hu)</h5>
            Evergreen is my favorite Chinese cuisine restaurant in north campus at Ann Arbor. Its original website can order food and make reservation. I re-implement its website and upgraded the website with the flight seat selection function with the reservation function. Custom can select which seat they want to sit at certain date and time.<br>
          </div>
        </div>
      </a>
    </div>

    <div class="row" id="project-wrapper">
      <a href="{% url 'store:all' %}">
        <div class="media">
          <img class="mr-3" src="{% static 'imgs/imgshort.png' %}" alt="evergreen">
          <div class="media-body">
            <h5 class="mt-0">Image Short</h5>
            An imitation of ImageUrl, not for commercial use.
          </div>
        </div>
      </a>
    </div>

    <div class="row" id="project-wrapper">
      <a href="{% url 'fp507:home' %}">
        <div class="media">
          <img class="mr-3" src="{% static 'imgs/covid.png' %}" alt="evergreen">
          <div class="media-body">
            <h5 class="mt-0">Covid-19 information collection</h5>
            With the rising risk of the new type coronavirus in U.S., I think this is the way I can contribute to where I live in. This site is a collection of information which is necessary for us, like the trend of comfirmed cases, the order from governers of each state and the price of related goods.
          </div>
        </div>
      </a>
    </div>

  </div>
</section>

{% endblock %}
