{% extends "base_bootstrap.html" %}
{% load static %} 

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_507.css' %}">
{% endblock %}

{% block navcol %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'fp507:home' %}">Back</a>
</li>
{% endblock %}

{% block content %}
<section id = 'home'>
  <div class="container">
    <div class="head-space"></div>

    <div class="title-wrapper">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-4">COVID-19 State Government Announcements</h1>
          <h4 class="lead">Information is collected from each states' official site.<br> This site is not for commercial use.</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-row align-items-center">
            <div class="col">
              <select class="form-control" id="states_selection" name="state">
                <option>ALL</option>
                {% for state in states %}
                  <option>{{state}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <input type="text" id="datepicker1" class="form-control" placeholder="From..." autocomplete="off" name="from">
              <script>
                  $("#datepicker1").datepicker({
                    format: 'yyyy-mm-dd',
                    minDate:0,
                    endDate:'-1d',
                });
              </script>
            </div>
            <div class="col">
              <input type="text" id="datepicker2" class="form-control" placeholder="To..." autocomplete="off" name="to">
              <script>
                  $("#datepicker2").datepicker({
                    format: 'yyyy-mm-dd',
                    minDate:0,
                    endDate:'-1d',
                });
              </script>
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if data %}
    <div class="result-wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for order in data %}
          <tr>
            <th scope="row"><a href="{{order.url}}">{{order.title}}</a></th>
            <th scope="row">{{order.date}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

  </div>
</section>

<script>
  window.onload = fitSize;
  function fitSize(){
    var body = (document.compatMode && document.compatMode == 'CSS1Compat') ? document.documentElement : document.body;
    console.log("fitting Size")
    console.log(body.offsetHeight, window.innerHeight)
    if (body.offsetHeight < window.innerHeight) {
      document.getElementById("home").style.height = "calc(100vh - 126px)";
    }
    else {
      document.getElementById("home").style.height = "";
    }
  };
  $(window).resize(fitSize);
</script>
{% endblock %}
